/* .modal-header {
  background-color: #60737b;
  border-bottom: none;
  padding-top: 20px;

}

.modal-body {
  background-color: #60737b;
}

.modal-footer {
  background-color: #60737b;

}

.modal-title {
  color: white;
  text-align: center;
  margin-top: 17px;

}
 */

.review-home img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.review-home p {
  color: lightgrey;
  font-weight: lighter;
  margin-bottom: 50px;
  text-align: center;
}
