
<div class="modal fade" tabindex="-1" role="dialog" id="my-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">One more thing...</h4>
        </div>
        <div class="modal-body form-modal">
          <p>In order for you to be able to interact with onguard via facebook messenger, please provide us with your phone number that is connected to your facebook account. &hellip;</p>
          Your Phone number:<br>

          <%= simple_form_for user, url: complete_profile_path, method: :patch do |f| %>
          <%= f.input :phone_number %>
          <%= f.button :submit, "Submit", class:"btn-primary btn" %>
          <% end %>

          </div>
          <div class="modal-footer"></div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
