<h1>EmergencyContacts#show</h1>
<p>Find me in app/views/emergency_contacts/show.html.erb</p>

<%= @emergency_contact.first_name %>
<%= @emergency_contact.last_name %>
<%= @emergency_contact.phone_number %>
