
<div class="pac-card" id="pac-card">

 <!--  <div id="type-selector" class="pac-controls">
    <input type="radio" name="type" id="changetype-all" checked="checked">
    <label for="changetype-all">All</label>
  </div> -->
</div>


      <div id="pac-container">
        <input id="pac-input" type="text" name="event[location]"
            placeholder= "Enter the event location " value="<%= @event.location %> ">
      </div>


<div id="mymap"></div>
<div id="infowindow-content">

  <img src="" width="14" height="14" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>

</div>



